[Desktop Entry]
Version=1.0
Type=Application

Name=LinHPSDR
Comment=Linux HPSDR
Categories=Education;Electronics;

Icon=com.github.g0orx.linhpsdr
Exec=/app/usr/local/bin/linhpsdr
Terminal=false